.movies-container {
    height: 100%;
    padding: 1vw;
    padding-top: 1vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
} 

.movies-container::after {
    margin-left: 17.5vw;
    content: "";
    flex: unset;
}
